<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InsuranceProject">
    <listeners>
        <listener class-name="com.Insurance.Utilities.Reporting"/>
    </listeners>
    <test name="InsuranceProjectTests">
        <classes>
            <class name="com.Insurance.TestCases.LoginPageTest"/>
        </classes>
    </test>
</suite>